<%- include('header') -%>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-3 col-xl-3">
                <form method="POST">

                    <% if(typeof emailinuse !=='undefined' ) { %>
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            The email is already in use!
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        <% } %>

                            <% if(typeof wrongpassword !=='undefined' && typeof emailinuse==='undefined' ) { %>
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    The two password does not match!
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                                </div>
                                <% } %>

                                    <div class="mb-3">
                                        <label for="inputEmail">Email address</label>
                                        <input type="email" id="inputEmail" class="form-control" name="email"
                                            aria-describedby="emailHelp"
                                            value="<%= (typeof saved === 'undefined') ? '' : saved.email %>"
                                            placeholder="Enter email" required>
                                    </div>

                                    <div class="mb-3">
                                        <label for="username">Username</label>
                                        <input type="text" id="username" class="form-control" name="username"
                                            value="<%= (typeof saved === 'undefined') ? '' : saved.username %>"
                                            placeholder="Enter username" required />
                                    </div>

                                    <div class="mb-3">
                                        <label for="inputPassword1">Password</label>
                                        <input type="password" id="inputPassword1" class="form-control" name="password1"
                                            placeholder="Password" minlength="8" required>
                                    </div>

                                    <div class="mb-3">
                                        <label for="inputPassword2">Password again</label>
                                        <input type="password" id="inputPassword2" class="form-control" name="password2"
                                            placeholder="Password" minlength="8" required>
                                    </div>

                                    <input type="submit" class="btn btn-primary" value="Register" />
                                    <a href="/" class="btn btn-warning">Go back</a>
                </form>
            </div>
        </div>
    </div>
    <%- include('footer') -%>